@model WebApplication.Models.TaskMaster

@{
    ViewData["Title"] = "EditPlus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit - Task Master - @Model.TaskMasterName</h1>
<hr />
<!-- MultiStep Form -->
<div id="smartwizard">
    <ul class="nav">
        <li>
            <a class="nav-link" href="#step-1">
                <strong>Step 1</strong>
                <br /> Task Name, Basic Settings And Type
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-2">
                <strong>Step 2</strong>
                <br /> Source System
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-3">
                <strong>Step 3</strong>
                <br /> Target System
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-4">
                <strong>Step 4</strong>
                <br /> Task Type Specific Settings
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-5">
                <strong>Step 5</strong>
                <br /> Performance, Dependencies and Advanced Settings
            </a>
        </li>

    </ul>
    <form asp-action="EditPlus">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="tab-content">
            <div id="step-1" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="mx-auto">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TaskMasterId" />
                        <div class="form-group">
                            <label asp-for="TaskMasterName" class="control-label"></label>
                            <input asp-for="TaskMasterName" class="form-control" />
                            <span asp-validation-for="TaskMasterName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TaskGroupId" class="control-label"></label>
                            <select asp-for="TaskGroupId" class="form-control" asp-items="ViewBag.TaskGroupId"></select>
                            <span asp-validation-for="TaskGroupId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ScheduleMasterId" class="control-label"></label>
                            <select asp-for="ScheduleMasterId" class="form-control" asp-items="ViewBag.ScheduleMasterId"></select>
                            <span asp-validation-for="ScheduleMasterId" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="ActiveYn" /> @Html.DisplayNameFor(model => model.ActiveYn)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="TaskTypeId" class="control-label"></label>
                            <select asp-for="TaskTypeId" class="form-control" asp-items="ViewBag.TaskTypeId"></select>
                            <span asp-validation-for="TaskTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-2" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="mx-auto">
                        <div class="form-group">
                            <label asp-for="SourceSystemId" class="control-label"></label>
                            <select asp-for="SourceSystemId" class="form-control" asp-items="ViewBag.SourceSystemId"></select>
                            <span asp-validation-for="SourceSystemId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-3" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="mx-auto">
                        <div class="form-group">
                            <label asp-for="TargetSystemId" class="control-label"></label>
                            <select asp-for="TargetSystemId" class="form-control" asp-items="ViewBag.TargetSystemId"></select>
                            <span asp-validation-for="TargetSystemId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-4" class="tab-pane" role="tabpanel">
                <br />
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col">
                                <label class="control-label">Source Sub-Type</label>
                                <select id="TaskMasterJsonSourceType"></select>
                            </div>
                            <div class="col">
                                <label class="control-label">Target Sub-Type</label>
                                <select id="TaskMasterJsonTargetType"></select>
                            </div>
                            <div class="col">
                                <label class="control-label">Data Factory IR</label>
                                <select id="TaskDatafactoryIrSelect"></select>
                                <span asp-validation-for="TaskDatafactoryIr" class="text-danger"></span>
                                @Html.HiddenFor(x => x.TaskDatafactoryIr)
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto" style="min-width: 100%">
                                <div class="form-group">
                                    <div id='editor_holder'></div>
                                    <div id="TaskMasterJsonShowHide">
                                        <label asp-for="TaskMasterJson" class="control-label"></label>
                                        <textarea asp-for="TaskMasterJson" class="form-control" rows="25"> </textarea>
                                        <span asp-validation-for="TaskMasterJson" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="step-5" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="mx-auto">
                        <div class="form-group">
                            <label asp-for="DegreeOfCopyParallelism" class="control-label"></label>
                            <input asp-for="DegreeOfCopyParallelism" class="form-control" />
                            <span asp-validation-for="DegreeOfCopyParallelism" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="AllowMultipleActiveInstances" /> @Html.DisplayNameFor(model => model.AllowMultipleActiveInstances)
                            </label>
                        </div>
                        <div class="form-group" style="display:none">
                            <label asp-for="TaskDatafactoryIr" class="control-label"></label>
                            <select asp-for="TaskDatafactoryIr" class="form-control" asp-items="ViewBag.TaskDatafactoryIr"></select>
                            <span asp-validation-for="TaskDatafactoryIr" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="DependencyChainTag" class="control-label"></label>
                            <input asp-for="DependencyChainTag" class="form-control" />
                            <span asp-validation-for="DependencyChainTag" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DataFactoryId" class="control-label"></label>
                            <select asp-for="DataFactoryId" class="form-control" asp-items="ViewBag.DataFactoryId"></select>
                            <span asp-validation-for="DataFactoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Back</a>
                            <input type="submit" value="Save" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <link rel="stylesheet" href="~/lib//smartwizard/dist/css/smart_wizard_all.min.css" />
    <script src="~/lib/smartwizard/dist/js/jquery.smartWizard.min.js" asp-append-version="true"></script>
    <script src="~/lib/json-editor/jsoneditor.js" asp-append-version="true"></script>
    <script src="~/js/TaskMasterEditPlus.js" type="text/javascript"></script>
}
