<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html>
    <head></head>
    <body
        style="
            font-family: Calibri, sans-serif;
            font-size: 13px;
            max-width: 600px;
        "
    >
        Dear {Alert.EmailRecepientName},
        <br />
        <br />
        Thank you for uploading your file for this quarter's PIPQI.
        <br />
        <br />
        We can confirm that we have received it.
        <br />
        <br />
        If we encounter any problems during the processing, we’ll get back to
        you.
        <br />
        <br />

        <img width="400" src="cid:logo" alt="Practice Assist logo" />
        
        <div style="font-family: Helvetica, sans-serif; font-size: 11px">
            <p style="color: rgb(101, 101, 101)">
                Copyright © 2020 WA Primary Health Alliance, All rights
                reserved.
            </p>

            <p style="color: rgb(255, 0, 0)">
                You are receiving this email as a general practice, or other
                health professional, in Western Australia or if you are
                subscribed to GP Connect or Practice Connect.
            </p>

            <p style="font-weight: bold">Our mailing address is:</p>
            <p>
                WA Primary Health Alliance 7 Tanunda Drive Rivervale, WA 6103
                Australia
            </p>

            <p>
                You can change your email preferences for this service by
                contacting
                <a href="mailto:practiceassist@wapha.org.au">
                    practiceassist@wapha.org.au
                </a>
            </p>
        </div>
        <br />
        <br />
    </body>
</html>
