<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html>
    <head> </head>
    <body
        style="
            font-family: Calibri, sans-serif;
            font-size: 13px;
            max-width: 600px;
        "
    >
        <p style="font-weight: bold">Dear {NAME}</p>

        <p>
            Thank you for choosing to use the WA Primary Health Alliance (WAPHA)
            Data Upload facility (“WAPHA Portal”) for your secure submission of
            the Practice Incentives Program Quality Improvement (PIP QI) 10
            Quality Improvement Measures (10QIM) dataset.
        </p>

        <div style="background-color: rgb(217, 217, 217)">
            <p style="text-align: center; font-weight: bold">IMPORTANT</p>
            <p>
                PLEASE READ THE END USER LICENCE AGREEMENT (available 
                <a
                    href="https://www.practiceassist.com.au/PracticeAssist/media/ResourceLibrary/Medicare%20Benefits%20Schedule/End-User-Licence-Agreement-WAPHA-Portal-20200918.pdf"
                    >here</a
                >) CAREFULLY BEFORE
                ACCESSING AND USING THE WAPHA PORTAL. IT PROVIDES YOU WITH
                IMPORTANT INFORMATION CONCERNING THE WAPHA PORTAL AND CONTAINS
                WARRANTY AND LIABILITY INFORMATION.
            </p>
            <p>
                BY ACCESSING OR USING THE PORTAL, AND TO THE EXTENT PERMITTED BY
                LAW, YOU ACCEPT THE WAPHA PORTAL“AS IS” AND AGREE TO BE BOUND BY
                THE TERMS AND CONDITIONS OF THE END USER LICENCE AGREEMENT. IF
                YOU DO NOT WISH TO DO SO, DO NOT PROCEED TO ACCESS AND USE THE
                WAPHA PORTAL.
            </p>
        </div>

        <p>
            A simple guide to the WAPHA Portal is available
            <a
                href="https://www.practiceassist.com.au/PracticeAssist/media/ResourceLibrary/Practice%20Incentives%20Program/PIP-QI-Uploader-Instructions_201007.pdf"
                >here</a
            >.
        </p>

        <p>
            In order to upload your data for this quarter, please visit the link
            below where you will be asked to attach and submit the compliant PIP
            QI Eligible Dataset extracted from your clinical information system.
        </p>

        <a
            href="{FileUploaderUrl}?&TargetSystemUidInPHI={TargetSystemUidInPHI}{SASTOKEN}"
            >{FileUploaderUrl}?&TargetSystemUidInPHI={TargetSystemUidInPHI}{SASTOKEN}</a
        >

        <p>
            IMPORTANT: this link will expire in 5 days from the date of this
            email. If you need a new link generated, please contact Practice
            Assist on the details below.
        </p>

        <p>
            The WAPHA Portal will notify you on the success of your upload
            within 20 minutes. Please retain this email for your records.
        </p>

        <p>
            For any further information on your data sharing arrangement or the
            WAPHA Portal facility, please contact Practice Assist on
            <b>1800 2 277 478</b> or
            <a href="mailto:practiceassist@wapha.org.au">
                practiceassist@wapha.org.au
            </a>
        </p>

        <br />
        <br />
        <br />

        <img width="400" src="cid:logo" alt="Practice Assist logo" />

        <div style="font-family: Helvetica, sans-serif; font-size: 11px">
            <p style="color: rgb(101, 101, 101)">
                Copyright © 2020 WA Primary Health Alliance, All rights
                reserved.
            </p>

            <p style="color: rgb(255, 0, 0)">
                You are receiving this email as a general practice, or other
                health professional, in Western Australia or if you are
                subscribed to GP Connect or Practice Connect.
            </p>

            <p style="font-weight: bold">Our mailing address is:</p>
            <p>
                WA Primary Health Alliance 7 Tanunda Drive Rivervale, WA 6103
                Australia
            </p>

            <p>
                You can change your email preferences for this service by
                contacting
                <a href="mailto:practiceassist@wapha.org.au">
                    practiceassist@wapha.org.au
                </a>
            </p>
        </div>
    </body>
</html>
