@using Humanizer;
@model WebApplication.Models.SubjectArea

@{
    ViewData["Title"] = "Provisioning - " + "SubjectArea".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Publish</title>
</head>
<body>
    <div>
        <h4>Provisioning @("SubjectArea".Humanize(LetterCasing.Title)) Components</h4>
        <hr />
        <p>The provisioning process has started, this process can take a few minutes to complete.</p>
    </div>

</body>
</html>
